<style>
    body { margin:0; padding:0; }
    #map { position:absolute; top:0; bottom:0; left: 0; width:100%; }

    a:link {color: ghostwhite;}
    a:visited {color: ghostwhite;}

    .map-overlay {
        font: 20px/12px optima, sans- serifar;
        position: absolute;
        width: 420px;
        top: 0;
        left: 0;
        padding: 10px;
    }

    .map-overlay .map-overlay-inner {
        background-color: rgba(255,255,255,.05);
        border-radius: 8px;
        padding-top: 20px;
        padding-right: 20px;
        padding-bottom: 5px;
        padding-left: 20px;
        margin-bottom: 5px;
    }

    .map-overlay h2 {
        line-height: 15px;
        display: block;
        margin: 0 0 5px;
        color: ghostwhite;
    }

    .map-overlay h5 {
        line-height: 40px;
        display: block;
        margin: 0 0 0 2px;
        color: ghostwhite;
    }

    .bottom .bottom-inner {
        font: 16px/12px optima, sans- serifar;
        position: absolute;
        width: 350px;
        background-color: rgba(255,255,255,.05);
        border-radius: 8px;
        padding-top: 10px;
        padding-right: 0px;
        padding-bottom: 10px;
        padding-left: 15px;
        margin-bottom: 600px;
        margin-left: 1055px;
    }

    .bottom .bottom-inner h5 {
        line-height: 15px;
        display: block;
        margin: 0 0 5px;
        color: ghostwhite;
    }

    .bottom .bottom-inner h6 {
        line-height: 20px;
        display: block;
        margin: 0 0 0 2px;
        color: ghostwhite;
    } 

    input[type=range] {
    box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 420px;
  margin: 0;
  padding: 0 px;
  overflow: hidden;
  border: 0;
  border-radius: 0px;
  outline: none;
  background: linear-gradient(grey, grey) no-repeat center;
  background-size: 100% 2px;
  pointer-events: none;
} /* change the style of slider */

    input[type=range]::-webkit-slider-thumb {
  height: 10px;
  width: 20px;
  border-radius: 3px;
  background-color: #fff;
  position: relative;
  margin: 0px 0;
 
  cursor: pointer;
  -webkit-appearance: none;
          appearance: none;
  pointer-events: all;
  box-shadow: 0 1px 4px 0.5px rgba(0, 0, 0, 0.8);
} 

    .multi-range input[type=range] {position: absolute;} 
    
    .multi-range input[type=range]:nth-child(2) {background: none;} 

    .button-30 {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 36px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 8px;
  padding-right: 8px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 15px;
  opacity: 0.95
} /* change the style of button */

    .button-30:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
} 

    .button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
} 

    .button-30:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
} 

    .fly-button {
        
        border-radius: 8px;
        padding-top: 20px;
        padding-right: 20px;
        padding-bottom: 5px;
        padding-left: 0px;
        margin-bottom: 0px;
        
    } 

    .mapboxgl-popup-content { 
    font-family: "JetBrains Mono",monospace;
    /* font-size: 12px;*/
    color:white;
    padding: 10;
    width: 240px;
    background-color: rgba(128, 128, 128, .6) 
} /* change the style of popup content */

    .mapboxgl-popup-content h2 {
        line-height: 10px;
        font-size: 16px;
    }

    .mapboxgl-popup-anchor-top .mapboxgl-popup-tip,
    .mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip,
    .mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
        border-bottom-color: rgba(128, 128, 128, .6) !important;
    } /* Make the small triangle below the popup window transparent */

    .mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip,
    .mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip,
    .mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip {
        border-top-color: rgba(128, 128, 128, .6)  !important;
    }

    .mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
    border-right-color: rgba(128, 128, 128, .6)  !important;
    }

    .mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
    border-left-color: rgba(128, 128, 128, .6)  !important;
    }

</style>